header{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header>a>img{
  height: 50px;
  width: 50px;
}

#productCardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productCard{
  max-width: 400px;
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.productCard>img{
  width: 250px;
  height: 400px;
}



