@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Montserrat:wght@500&family=Raleway:wght@100;400&family=UnifrakturMaguntia&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}


#root > div{
  min-height: 100vh;
}

main{
  display: flex;
    justify-content: center;  
}

a{
  text-decoration: none;
  color: black;
}

header{
  background-color: #a6b6df;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

header>a>img{
  height: 50px;
  width: 50px;
}


#productCardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#productCardContainer>a>img{
  height: 50px;
  width: 50px;
}

#productCardContainer>a{
  background-color: #a6b6df;
  border-radius: 50%;
  position: inherit;
  right: 10px;
  bottom: 10px;
  height: 90px;
  z-index: 1;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.productCard{
  max-width: 400px;
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.productCard>img{
  width: 250px;
  height: 250px;
}

#cartIconContainer{
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table{
  width: 100%;
}
tbody>tr{
  height: 120px;
}

td{
  text-align: center;
  max-height: 100px;
}

td>img{
  width: 80px;
  height: 80px;
}


/* SPINNER */
.loader {
  margin: 300px 0;
  width: 48px;
  height: 48px;
  border: 5px solid #0000ff2e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 